@font-face {
	font-family: "Alamain";
	src: url('fonts/alamain1.ttf');
}
@font-face {
	font-family: "Skater Girls Rock";
	src: url('fonts/SkaterGirlsRock.ttf');
}
body{
	position: relative;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	height: 100%;
}
.page-bg{
	position: absolute;
	background: url('images/farm.png') no-repeat;
	background-size: cover;
	background-position: 50%;
	filter: blur(60px) brightness(1.3);
	width: 100%;
	height: 100%;
	z-index: -1;
}
nav{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	text-align: center;
	margin-bottom: 50px;
}
.dark-bg{
	position: absolute;
	background: rgba(0,0,0,0.1);
	width: 100%;
	height: 100%;
	z-index: 0;
}
.title{
	position: relative;
	display: block;
	color: #ee3333;
	font-family: 'Alamain';
	font-size: 55px;
	text-decoration: none;
	text-align: center;
	transition: 1s ease;
}

.tlt{
	transition: 0.2s ease;
}
.home{
	margin-left: 20px;
	transition: 0.2s ease;
}
.home img{
	width: 40px;
	opacity: 0.9;
}
.account{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0;
	margin-left: 20px;
	text-decoration: none;
	transition: 0.2s ease;
}
.account img{
	position: relative;
	display: inline-block;
	width: 40px;
	margin-right: 10px;
	opacity: 0.9;
}
.account p{
	position: relative;
	display: inline-block;
	color: #222222;
	font-family: 'Skater Girls Rock';
	font-size: 18px;
	text-decoration: none;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.log{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 30px;
}
.log a{
	font-family: 'Skater Girls Rock';
	font-weight: 500;
	font-size: 22px;
	text-decoration: none;
	padding: 0;
	color: #222222;
	filter: unset;
	padding: 5px 0 0 0;
	transition: 0.2s ease;
}
.separation{
	position: relative;
	display: inline-block;
	width: 2px;
	height: 70%;
	margin: 0 15px 0 15px;
	background: #222222;
}
.valider{
	display: inline-block;
	font-family: 'Skater Girls Rock';
	font-size: 35px;
	color: #ffffff;
	background: #33c054;
	border: none;
	border-radius: 5px;
	padding: 10px 15px 0 15px;
	margin: 20px;
	cursor: pointer;
	user-select: none;
	transition: 0.2s ease;
}
footer{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	width: 100%;
	background: #ee3333;
	text-align: center;
}
footer a{
	position: relative;
	display: inline-block;
	color: white;
	font-family: 'Skater Girls Rock';
	font-weight: 500;
	font-size: 25px;
	text-decoration: none;
	margin: 10px 50px 0 50px;
}
.infos-legales{
	position: relative;
	display: inline-block;
	color: white;
	font-family: 'Skater Girls Rock';
	font-weight: 500;
	font-size: 25px;
	text-decoration: none;
	margin: 10px 50px 0 auto;
}




@media screen and (max-device-width: 1080px){
	footer{
		flex-direction: column;
	}
	footer a{
		margin: 20px 50px 50px;
		font-size: 45px;
	}
	.infos-legales{
		margin: 10px 50px 0 50px;
		font-size: 35px;
	}
	.log a{
		font-size: 50px;
	}
	.separation{
		height: 50px;
	}
	.account img{
		width: 70px;
	}
	.account p{
		font-size: 24px;
	}
	nav{
		height: 80px;
	}
	.title{
		font-size: 80px;
	}
	.valider{
		padding: 15px 25px 0 25px;
	}
}